{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Sign Up
{% endblock title %}

{% block content %}
<style>
    .contact_form{
        color: white !important;
        padding-bottom: 20px;
    }
    .section{
        padding-bottom: 20px;
    }
</style>

{% if form.error %}
<p>There is an error in you form</p>
{% endif %}
<div id="contact" class="section wb">
    <div class='container'>
        <div class="section-title text-center">
            <h2 class='head'>Sign Up</h2>
            <hr>
        </div>
    </div>
    <div class='container container w-60 col-lg-8 col-md-12 col-sm-12'>
        <div class="contact_form">
            <form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
                <div class="row row-fluid"> 
                    {% csrf_token %}
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {{form|crispy }}
                    </div>
                </div>
                <div class="text-center pd w-60">
                    <button type="submit" value="SIGNUP" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Sign Up</button>
                </div>
            </form> 
        </div>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    </div>
</div>
{% endblock content %}