{% extends 'base.html' %}
{% load static %}
{% block title %}
403 Error
{% endblock title %}


{% block content %}

<div id="contact" class="section wb">
    <div class='container' style="background-image:url('{% static 'images/error_404.jpg' %} ');">
        <main class="main">
            <center>
            <h2>403 Error!</h2>
            <h6>Oooooops! Something want wrong,<br />Don't Panick, Navigate to other pages</h6></center>
        </main>
    </div>
</div>
        
    
{% endblock content %} 