{% extends 'base.html' %}
{% load static %}
{% block title %}
DIWIZ Schools | About
{% endblock title %}

{% block content %}
<div class="all-title-box" style="background-image:url('{% static 'images/about-banner.jpg' %} ');">
    <div class="container text-center">
        <h1 style="color: #000">About Us<span class="m_1" style="font-family: Quintessential">We are DIWIZ Schools, the wisdom villa</span></h1>
    </div>
</div>

<div id="overviews" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>About</h3>
                <p class="lead">DIWIZ School is keen on building up student of high standard. We impact educationally, morally, and spiritually. We build up student that lives in the fear of God.</p>
            </div>
        </div><!-- end title -->
    
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>What we offer</h2>
                    <p>DIWIZ Schools can only succeed in its mission of providing teaching excellence to fulfil your child’s potential by offering the best possible learning environment, with the most effective learning tools and facilities.</p>

                    <p> The classroom environment at DIWIZ Schools allows your child’s educators to give them the time and attention that they need in order to succeed. We believe in keeping class numbers low to maximum learning potential. </p>

                </div><!-- end messagebox -->
            </div><!-- end col -->
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="{% static './images/about_02.jpg' %}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="{% static './images/about_03.jpg' %}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>Our Facilities</h2>
                    <p>Each student has access to the best possible learning technologies, as well having guest classes from industry professionals. We believe this better prepares your child for their careers or own businesses.</p>

                    <p> We believe in equipping your children with the skills to be able to learn for the rest of their lives! By instilling in them a method of analytical thinking, we believe they will be able to be independent thinkers and be high performers in their chosen careers.</p>

                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Our Teachers</h2>
                        <p>DIWIZ teachers play an indispensable role in the lives of the students equipping them
                            with the knowledge ans skills required for career and life. They are equipped to
                            develop trusting, productive relationship with students.
                        </p>

                        <p>DIWIZ teachers are patient, caring, kind and dedicated to the inculcation of good 
                            morals to the students to build thwm to be high esteemed citizens of the world at large
                        </p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static './images/slider-01.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div>
            
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="hmv-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                    <h3>Mission</h3>
                    <div class="tr-pa">M</div>
                    <p>DIWIZ exist to build God fearing future leaders. We produce leaders that grows in the way of the Lord, educating and building them both morally and spiritually.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                    <h3>Vision</h3>
                    <div class="tr-pa">V</div>
                    <p>To provide affordable education all over the world. To make sure the right to education in Nigeria in still in place, by providing conducive and convenient place for learning at low cost. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                    <h3>History</h3>
                    <div class="tr-pa">H</div>
                    <p>DIWIZ has been blessing the world with trained and God fearing leaders. We have all make sure that the possibility to go schoool is high. We have been doing what we do best.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="testimonials" class="parallax section db parallax-off" style="background-image:url('images/parallax_04.jpg');">
    <div class="container">
        <div class="section-title text-center">
            <h3>Testimonials</h3>
            <p>See what some parents have to say about our presitigious instituition. </p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="testi-carousel owl-carousel owl-theme">
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="{% static './images/testi_01.png' %}" alt="" class="img-fluid">
                            <h4>James Fernando </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="{% static './images/testi_02.png' %}" alt="" class="img-fluid">
                            <h4>Jacques Philips </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="{% static './images/testi_03.png' %}" alt="" class="img-fluid ">
                            <h4>Venanda Mercy </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="{% static './images/testi_01.png' %}" alt="" class="img-fluid">
                            <h4>James Fernando </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                            <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="{% static './images/testi_02.png' %}" alt="" class="img-fluid">
                            <h4>Jacques Philips </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                            <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="testi-meta">
                            <img src="{% static './images/testi_03.png' %}" alt="" class="img-fluid">
                            <h4>Venanda Mercy </h4>
                        </div>
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                            <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                        </div>
                        <!-- end testi-meta -->
                    </div><!-- end testimonial -->
                </div><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
{% endblock content %}