{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static './images/diwiz-logo.png' %} " type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static './images/apple-touch-icon.png' %} ">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static './css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static './css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static './css/custom.css' %}">
	<link rel="stylesheet" href="{% static './css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static './css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static './css/prettyPhoto.css' %}">
	<link rel="stylesheet" href="{% static './css/timeline.min.css' %}">
	<link rel="stylesheet" href="{% static './css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static './css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static './css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static './css/animate.css' %}">
	<link rel="stylesheet" href="{% static './css/bootstrap-touch-slider.css' %}">
	<link rel="stylesheet" href="{% static './css/pr_loading.min.css' %}">

    <!-- additional font -->
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">

    <!-- Modernizer for Portfolio -->
    <script src="{% static './js/modernizer.js' %}"></script>

</head>
<body class="host_version"> 

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static './images/diwiz-logo.png' %}" alt="" /> <span style="color: #fff; font-size:24px;">DIWIZ <span style="color: #fabd02;">Schools</span></span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'abouts' %}"><i class="fa fa-institution"></i> About Us</a></li>
                        {% if request.user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="{% url 'blogs' %}" ><i class="fa fa-info-circle"></i> News</a></li>
                        {% endif %}
						<li class="nav-item"><a class="nav-link" href="{% url 'galleries' %}"> <i class="fa fa-image"></i> Gallery</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}"><i class="fa fa-book"></i> Contact</a></li>
					</ul>
                    {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="{% url 'logout' %}"><span><i class="fa fa-sign-in"> Log Out</i></span></a></li>
                    </ul>
                    {% else %}
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="{% url 'login' %}"><span><i class="fa fa-sign-in"> Log in</i></span></a></li>
                    </ul> &nbsp
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="{% url 'signup' %}"><span><i class="fa fa-user-plus"> Sign Up</i></span></a></li>
                    </ul>
                    {% endif %}
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

    <!-- Main -->
    {% block content %}
    
    {% endblock content %}
	
	
    

    <div class="parallax section dbcolor" >
        <div class="container">
            <h3 style="color:#000 !important; letter-spacing:7px; font-size:25px; font-family:Quintessential!important;"><center>In God's Wisdom We Trust.</center></h3>
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Social Media</h3>
                        </div>
                        <p> Follow us on these social media.</p>   
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="https://www.facebook.com/ikelunanwa.orjiene"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://chat.whatsapp.com/J4WHchFkCXuF5QBwcdVrpJ"><i class="fa fa-whatsapp"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="mailto:diwizschools@gmail.com"><i class="fa fa-envelope"></i></a></li>
							</ul><!-- end links -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'blogs' %}">News</a></li>
                            <li><a href="{% url 'galleries' %}">Gallery</a></li>
							<li><a href="{% url 'abouts' %}">About</a></li>
							<li><a href="{% url 'contacts' %}">Contact</a></li>
                            {% else %}
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'galleries' %}">Gallery</a></li>
							<li><a href="{% url 'abouts' %}">About</a></li>
							<li><a href="{% url 'contacts' %}">Contact</a></li>
                            {% endif %}
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:diwizacademy@gmail.com">diwizaacademy@gmail.com</a></li>
                            <li><a href="#">www.diwizschools.com</a></li>
                            <li>3, Ajelogo Road, Mile 12, Lagos, Nigeria</li>
                            <li>8, Barbinton, Kosofe, Mile 12, Ketu, Lagos, Nigeria</li>
                            <li><a href="tel:+2348064485032"><span label="tel">+2348064485032</span></li></a>
                            <li><a href="tel:+2348055101709"><span label="tel">+2348055101709</span></li></a>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; {% now "Y" %} <a href="#">DIWIZ</a> Design By : <a href="https://www.linkedin.com/in/kenechukwu-orjiene/" target="_blank">Orjiene Kenechukwu</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static './js/all.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static './js/custom.js' %}"></script>
	<script src="{% static './js/timeline.min.js' %}"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>