{% extends 'base.html' %}
{% load static %}
{% block title %}
Teachers
{% endblock title %}

{% block content %}
<div class="all-title-box" style="background-image:url('{% static 'images/banner.jpg' %} ');">
	<div class="container text-center">
		<h1>Teachers<span class="m_1" style="font-family: Quintessential;">We have qualified teacher ready to impact into our student</span></h1>
	</div>
</div>

<div id="teachers" class="section wb">
	<div class="container">
		<div class="row">
			{% if teachers %}
				{% for teacher in teachers %}
				
					{% if teacher.gender == 'male' %}
					<div class="col-lg-3 col-md-6 col-12">
						<div class="our-team">
							<div class="team-img">
								<img src="{% if teacher.image %}
								{{teacher.image.url}}
								{% else %}
								{% static 'images/team-03.png' %}
								{% endif %}">
								<div class="social">
									<ul>
										<li><a href="#" class="fa fa-facebook"></a></li>
										<li><a href="#" class="fa fa-twitter"></a></li>
										<li><a href="#" class="fa fa-linkedin"></a></li>
										<li><a href="#" class="fa fa-mail"></a></li>
									</ul>
								</div>
							</div>
							<div class="team-content">
								<h3 class="title">{{teacher.name}}</h3>
								<span class="post">{{teacher.info}}</span>
							</div>
						</div>
					</div>

					{% else %}
						<div class="col-lg-3 col-md-6 col-12">
							<div class="our-team">
								<div class="team-img">
									<img src="{% if teacher.image %}
									{{teacher.image.url}}
									{% else %}
									{% static 'images/team-02.png' %}
									{% endif %}">
									<div class="social">
										<ul>
											<li><a href="#" class="fa fa-facebook"></a></li>
											<li><a href="#" class="fa fa-phone"></a></li>
											{% comment %} <li><a href="#" class="fa fa-linkedin"></a></li> {% endcomment %}
											<li><a href="#" class="fa fa-envelope"></a></li>
										</ul>
									</div>
								</div>
								<div class="team-content">
									<h3 class="title">{{teacher.name}}</h3>
									<span class="post">{{teacher.info}}</span>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			
			{% else %}
			<p>Working on this page</p>
			{% endif %}
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->	

{% endblock content %}
